.profile {
  display: grid;
  justify-content: center;
  padding: 2rem 0 0;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  padding: 0;
  gap: 10px;
  border: none;
}

.btnEditBox {
  position: fixed;
  top: 15%;
  right: 30%;
  transform: scale(2);
}

.btnForm {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
